.column {
  background-color: #e8e8e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  padding: 3px;
  width: 250px;
  max-width: 300px;
  max-height: 100%;
  flex: 1 1 auto;
}

.column-head {
  margin-bottom: 8px;
}

.column-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.column-body::-webkit-scrollbar {
  background: white;
  border: 1px solid #e4e4e4;
  width: 4px;
  border-radius: 5px;
}
.column-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e4e4e4;
  border-radius: 5px;
}
.column-body::-webkit-scrollbar-thumb {
  background-color: #c8d3db;
  border: 1px solid #c8d3db;
  border-radius: 5px;
}

.column-title {
  font-weight: 500;
}

.add-task {
  display: flex;
}

.add-task > form > input {
  flex-grow: 1;
  border: 1px solid #999999;
  border-radius: 6px 0 0 6px;
  padding: 5px 8px;
}

.add-task > form > input:focus {
  border: 1px solid #5fa1de;
  outline: 1px solid #5fa1de;
}

.add-task > form > button {
  flex-grow: 1;
  border: 1px solid #666666;
  border-radius: 0 6px 6px 0;
  padding: 5px 8px;
}
